<header class="header">
    <h1 class="title">{{ site.title }}</h1>
</header>
<div class="nav">
    <div class="nav-item">
        <a href="{{ site.baseurl }}/index.html">Home</a>
    </div>
    <div class="nav-item">
        <a href="{{ site.baseurl }}/about.html">About</a>
    </div>
    <div class="nav-item">
        <a href="{{ site.baseurl }}/blog.html">Blog</a>
    </div>
    <div class="nav-item">
        <a href="{{ site.baseurl }}/links.html">Links</a>
    </div>
</div>
<div class="progress-container" id="progress-container">
    <div class="progress-bar" id="myBar"></div>
</div>