body {
    font-family: 'Shanti';
    background-color: rgb(255, 233, 199);
    color: rgb(34, 17, 50);
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    text-shadow: 0.8px 0.8px rgb(196, 196, 196);
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(198, 85, 198);
}

a:active {
    color: rgb(228, 68, 0);
}

p {
    margin: 0;
    line-height: 200%;
}

/* hr {
    border: none;
    background-color: lightsteelblue;
    margin: 0;
    width: 100%;
    height: 5px;
} */

.header {
    font-family: 'Yatra One';
    text-shadow: 1px 1px rgb(196, 196, 196);
    display: flex;
    flex-direction: column;
    background-color: rgb(125, 174, 100);
    box-shadow: 3px 3px 5px 6px rgb(103, 103, 103);
}

/* navigation  */

.nav {
    font-family: 'Yatra One';
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 27px;
}

.nav-item {
    color: rebeccapurple;
    font-size: 23px;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}

.nav-item:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.nav-item:hover:after {
    width: 100%;
	background: rgb(208, 134, 6);
}

/* end navigation */

.section-one {
    margin: auto;
}

/* media query */

 @media screen and (min-width: 500px) {
     .section-one {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         padding-left: 50px;
         padding-right: 50px;
         width: auto;
         max-width: 800px;
     }
     .nav {
         justify-content: center;
     }
     .nav-item {
         margin-left: 20px;
         margin-right: 20px;
     }
 }