/* main */
body {
    font-family: 'Shanti';
    background-color: rgb(255, 233, 199);
    color: rgb(49, 19, 77);
    margin: 0;
    padding: 0;
    /* text-align: center; */
    font-size: 18px;
    text-shadow: 0.8px 0.8px rgb(196, 196, 196);
}

a {
    color: rebeccapurple;
    text-decoration: none;
}

a:hover {
    color: rgb(198, 85, 198);
}

a:active {
    color: rgb(228, 68, 0);
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(162, 50, 2);
}

p {
    margin: 0;
    line-height: 200%;
}

i {
    padding: 10px;
    color: rgb(7, 65, 9);
}

b {
    color: darkred;
}

img {
    max-width: 600px;
}

img:hover {
    cursor: pointer;
}

.section-one hr {
    width: 100%;
    box-shadow: 0px 1px 10px 1px rgb(139, 70, 203);
}

#topscroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(255, 75, 75);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
}

#topscroll:hover {
    background-color: rgb(96, 96, 255);
}

/* header */
.header {
    font-family: 'Yatra One';
    text-shadow: 1px 1px rgb(196, 196, 196);
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(28, 94, 28, 0.639);
    box-shadow: 0px 5px 10px 5px rgb(127, 115, 138);
}

/* navigation  */

.nav {
    font-family: 'Yatra One';
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 27px;
}

.nav-item {
    color: rebeccapurple;
    font-size: 23px;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}

.nav-item:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.nav-item:hover:after {
    width: 100%;
	background: rgb(208, 134, 6);
}

/* The progress container (grey background) */
.progress-container {
    display: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 5px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    display: none;
    height: 5px;
    background: #4caf50;
    width: 0%;
  }

/* locator */
.location {
    display: none;
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    text-align: center;
    background-color: darkseagreen;
}

/* content */

.section-one {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 700px;
    
}

#dates {
    display: none;
    font-size: 30px;
    line-height: 200%;
}

#dates a {
    padding: 10px;
}

#dates hr {
    width: 100px;
}

.date-button {
    width: fit-content;
    color: rebeccapurple;
    font: inherit;
    border-radius: 30px;
    outline: none;
    border: none;
    transition-duration: 0.4s;
}
.date-button:hover {
    background-color: #4caf50;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.date-button:active {
    background-color: #ff2e2e;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.date-button h3 {
    font-size: 30px;
}

/* footer */

.footer {
    text-align: center;
}

/* media query */

 @media screen and (min-width: 500px) {
     .nav {
         justify-content: center;
     }
     .nav-item {
         margin-left: 20px;
         margin-right: 20px;
     }
 }
 @media screen and (max-width: 500px) {
     img {
         max-width: 300px;
     }
 }